@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Signika+Negative:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

/* Header and logo */

header {
    display: flex;
    flex-direction: column;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: red;
}

.logo {
    font-family: 'Signika Negative', sans-serif;
    font-size: 120%;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

/* Navigation */

.navigation {
    font-family: 'Signika Negative', sans-serif;
    font-size: 120%;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
}

.navigation li {
    list-style-type: none;
    display: inline;
}

.active {
    /* color: red; */
    text-decoration: underline;
}

/* Main image section */

.main-image-section {
    /* background-color: aliceblue; */
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
}

.main-image-index {
    background-color: beige;
    background: url('../images/pexels-satoshi-hirayama-1633791.jpg') no-repeat center center;
}

.main-image-menu {
    background-color: beige;
    background: url('../images/pexels-sebastian-coman-photography-3475617.jpg') no-repeat center center;
}

.main-image-reservations {
    background-color: beige;
    background: url('../images/pexels-satoshi-hirayama-4639543.jpg') no-repeat center center;
}

.main-image-contact {
    background-color: beige;
    background: url('../images/pexels-janko-ferlic-590478.jpg') no-repeat center center;
}

/* Main Content Section */

.main-content {
    text-align: center;
    width: 70vw;
    margin: 0 auto;
    font-size: larger;
}

    /* Menu */

.menu-line1 {
    border-top: 2px solid black;
}

.menu-line2 {
    border-top: 1px dotted black;
}

.menu-header, .menu-headers {
    padding: 30px;
    text-transform: uppercase;
}


.food-menu li {
    list-style-type: none;
}

    /* Contact */

.contact-container {
    background-color: aqua;
}


/* Footer Social Media links */

.footer-container {
    margin: auto;
    width: 100%;
    height: 30px;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
    padding: 0 40px;
}

.social-links a {
    text-decoration: none;
    color: black;
}

.social-links a:hover {
    color: red;
}