/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Signika+Negative:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

/* Header and logo */
header {
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 0;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: red;
}

.logo {
    font-family: 'Signika Negative', sans-serif;
    font-size: 120%;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

/* Navigation */
.navigation {
    font-family: 'Signika Negative', sans-serif;
    font-size: 120%;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
}

.navigation li {
    list-style-type: none;
    display: inline;
}

.active {
    color: red;
}

/* Main image section */
.main-image-section {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
}

.main-image-index {
    background-color: beige;
    background: url('../images/pexels-satoshi-hirayama-1633791.jpg') no-repeat center center;
}

.main-image-menu {
    background-color: beige;
    background: url('../images/pexels-sebastian-coman-photography-3475617.jpg') no-repeat center center;
}

.main-image-reservations {
    background-color: beige;
    background: url('../images/pexels-satoshi-hirayama-4639543.jpg') no-repeat center center;
}

.main-image-contact {
    background-color: beige;
    background: url('../images/pexels-janko-ferlic-590478.jpg') no-repeat center center;
}

/* Main Content Section */
.main-content {
    text-align: center;
    width: 75vw;
    margin: 0 auto;
    padding-top: 1%;
    font-size: large;
}

    /* About Section */
.about-text {
    margin-bottom: 20px;
}

.about-images {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

.about-images > img {
    width: 100%;
}

    /* Menu */
.menu-line1 {
    border-top: 2px solid black;
}

.menu-header, .menu-headers {
    padding: 30px;
    text-transform: uppercase;
}

.flex {
    display: flex;
    justify-content: space-between;    
}

.meals-image {
    padding: 20px;
    padding-bottom: 20px;
}

.meals-image > img {
    border: 2px black solid;
}

.food-menu {
    text-align: left;
}

.food-menu li {
    list-style-type: none;
}

    /* Contact */
.contact-page {
    margin: 30px;
}

.opening-times table {
    margin: 0 auto;
}

.address {
    padding-bottom: 30px;
    text-align: left;
}

.opening-times {
    padding-bottom: 30px;
}


/* Reservations page */
.reservations-page {
    margin: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.reservations-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.res-text {
    text-align: left;
    padding: 60px;
}

.book-a-table {
    top: 150px;
    color: rgb(251, 248, 248);
    background-color: rgba(60, 60, 60, 0.8);
    max-width: 300px;
    height: 540px;
    margin: 0 auto;
    padding: 5%;
    border-radius: 20px;
}

.text-input {
    background: grey;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 5px;
}

.book-button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #ff0000;
    color: #fafafa;
}

.form-image {
    background: url('/assets/images/pexels-oman-2983022.jpg') no-repeat center center;
    width: 100%;
    height: 1200px;
    opacity: 80%;
}

/* Footer Social Media links */
.footer-container {
    margin: auto;
    width: 100%;
    padding: 20px 0px 20px 0;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
    padding: 0 40px;
}

.social-links a {
    text-decoration: none;
    color: black;
}

.social-links a:hover {
    color: red;
}

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    .main-content {
        text-align: center;
        width: 65vw;
        margin: 0 auto;
        padding-top: 20px;
        font-size: medium;
    }

    .logo {
        font-family: 'Signika Negative', sans-serif;
        font-size: 100%;
        text-transform: uppercase;
        letter-spacing: 10px;
        text-align: center;
    }

    .navigation {
        font-family: 'Signika Negative', sans-serif;
        font-size: 100%;
        letter-spacing: 5px;
        word-spacing: 5px;
        text-transform: uppercase;
        text-align: center;
    }


    .menu-header, .menu-headers {
        padding: 20px;
        text-transform: uppercase;
    }

    .flex {
        display: block;    
    }

    .meals-image {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .food-menu {
        text-align: center;
    }

    .meals-image > img {
        width: 100%;
        height: auto;
    }

    .form-image {
        height: 1000px;    
    }

    .address {
        text-align: center;
    }

    .reservations-page {
        margin: 30px;
        position: relative;
        display: block;
    }

    .reservations-container {
        padding: 5px;
        width: 100%;
        height: auto;
        display: block;
    }

    .reservations-image img {
        border-radius: 50%;
        width: 50%;
    }
    
}

/* For medium screen sizes from 600px wide and down */
@media screen and (max-width: 600px) {
    .main-content {
        text-align: center;
        width: 100vw;
        margin: 0 auto;
        padding-top: 2px;
        font-size: small;
    }

    .social-links li {
        display: inline;
        padding: 0 20px;
    }

    .logo {
        font-family: 'Signika Negative', sans-serif;
        font-size: 80%;
        text-transform: uppercase;
        letter-spacing: 10px;
        text-align: center;
    }

    .navigation {
        font-family: 'Signika Negative', sans-serif;
        font-size: 80%;
        letter-spacing: 5px;
        word-spacing: 5px;
        text-transform: uppercase;
        text-align: center;
    }

    .menu-header, .menu-headers {
        padding: 10px;
        text-transform: uppercase;
    }

    .about-images {
        column-count: 2;
    }

    .meals-image {
        width: 100%;
        padding: 0;
    }

    .meals-image > img {
        width: 100%;
        height: auto;
    }
}